/*#######################################

########## INDEX ##########
    ### ANIMATIONS
    ### CONTAINERS JAVASCRIPT
    ### GENERAL
    ### FLEX
    ### STATES
    ### NAV
    ### SECTION
    ### INTRO
    ### PRODUCTIONS
    ### TECHNOLOGIES
    ### BIO
    ### IRL
    ### SIDE-PAGES
    ### CONTACT
    ### PRODUCTION-SINGLE

    #### MEDIA QUERIES ####
        ### MEDIUM SCREEN
            ## INTRO
            ## SIDE PAGES
        ### TABLET LANDSCAPE
            ## NAV
            ## SECTION
            ## INTRO
            ## PRODUCTIONS
            ## TECHNOLOGIES
            ## BIO
            ## IRL
            ## SIDE-PAGES
            ## CONTACT
            ## PRODUCTION-SINGLE

#######################################*/


/*### ANIMATIONS ###*/

@-webkit-keyframes shake{
    0%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    80%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    90%{
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: .7;
    }
    100%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes shake{
    0%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    80%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
    90%{
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: .7;
    }
    100%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes apparition-right{
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    1% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes apparition-right{
    0%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    1% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes disparition{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes disparition{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@-webkit-keyframes apparition-top{
    0%{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes apparition-top{
    0%{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes apparition{
    0%{
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes apparition{
    0%{
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes blink{
    0%{
        -webkit-filter: invert(0%);
        filter: invert(0%);
    }
    45%{
        -webkit-filter: invert(0%);
        filter: invert(0%)
    }
    55%{
        -webkit-filter: invert(10%);
        filter: invert(10%);
    }
    100%{
        -webkit-filter: invert(0%);
        filter: invert(0%);
    }
}

@keyframes blink{
    0%{
        -webkit-filter: invert(0%);
        filter: invert(0%);
    }
    45%{
        -webkit-filter: invert(0%);
        filter: invert(0%)
    }
    55%{
        -webkit-filter: invert(10%);
        filter: invert(10%);
    }
    100%{
        -webkit-filter: invert(0%);
        filter: invert(0%);
    }
}

/*### CONTAINERS JAVASCRIPT ###*/

.var-text{
    font-weight: 900;
    font-size: 1.1em;
}

/*### GENERAL ###*/


body{
    background-attachment: fixed;
    font-weight: bolder;
    background-size: cover;
    overflow-x: hidden;
    background-image: url("../img/wallpaper.jpg");

}

.row{
    margin-left: 0;
    margin-right: 0;
}

img{
    width: 100%;
    height: auto;
}

#global-content{
    overflow-x: hidden;
}

/*### FLEX ##*/


.flex-horizontal{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-horizontal-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-horizontal-space-around{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.flex-vertical-space-around{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.flex-both-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*### STATES ###*/

.fixed-top{
    position: fixed !important;
    margin-top: 0 !important;

}

.still{
    -webkit-animation: none;
    animation: none;
}


/*### NAV ###*/

#main-nav .active, #main-nav .submenu.active #main-nav .submenu-title{
    color: white;
    background-color: #333333;
}

#menu-subtitle{
    text-align: center;
    width: 100%;
    letter-spacing: .25em;
}

ul{
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#back{
    display: none;
}

#menu-header{
    color: dimgray;
    padding: 30px 0;
    font-weight: normal;
    background-image: url("../img/menu-header-bg.jpg");
    background-position: center;
    display: none;
}

#menu-header h3{
    width: 100%;
    text-align: center;
}

#global-nav{
    background-color: white;
    padding: 0;
    -webkit-box-shadow: 1px 1px 1px dimgray;
    box-shadow: 1px 1px 1px dimgray;
    z-index: 10;
    top: 0;
    left:0;
    position: absolute;
    overflow-y: scroll;
}


#main-nav{
    padding: 0;
    border-top: 1px solid lightgray;
}

#menu-toggle{
    display: block;
    text-align: center;
    padding: 10px;
    color: black;
}

.mobile-hidden{
    display: none;
}


.submenu .submenu-nav{
    display: none;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.submenu.active .submenu-nav{
    display: block;
}

.submenu-nav li.active{
    background-color: rgba(0, 0, 0, .3) !important;
    color: lightgray !important;
}

ul{
    list-style: none;
    margin: 0;
    padding-right: 0;
}

#main-nav  li{
    padding: 10px;
    padding-right: 0;
    color: black;
    border-bottom: 1px solid lightgray;
    background-color: rgba(255, 255, 255, 1);
}

#main-nav li.submenu{
    padding: 0;
}

#main-nav li.submenu li{
    background-color: lightgray;
    color: dimgray;
    border-bottom: 1px solid whitesmoke;
}

#main-nav  li a{
    color: black;
}
#main-nav  li.active a{
    color: white;
}
#main-nav  li a, #main-nav  li a:hover{
    text-decoration: none;
    color: black;
}

#main-nav li.submenu li:last-child{
    border-bottom: none;
}

.submenu-title{
    color: black;
    display: block;
    padding: 10px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#productions-nav{
    background-color: dimgray;
}

#productions-nav li{
    text-align: center;
}

.production-preview{
    position: relative;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    padding: 0;
}

#main-nav li{
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    text-transform: uppercase;
}
#main-nav li:hover{
    background-color: rgba(0, 0, 0, .3);
    color: white;
}

.blink{
    -webkit-animation: blink 4s infinite ease;
    animation: blink 4s infinite ease;
}

.locked{
    opacity: .3;
    color: dimgray !important;
    background-color: whitesmoke !important;
    cursor: default !important;
}

/*### CONTAINERS ###*/

#main{
    position: relative;
}

#main-content{
    padding : 0;
    margin-bottom: 70px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* SECTION */

section:not(#intro){
    border-bottom: 1px solid whitesmoke;
    margin: 0;
}

section:not(#productions):not(#parcours):not(#intro){
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-intro{
    text-align: center;
    color: rgba(0,0,0, .75);
    font-size: 1em;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}

.section-title{
    text-align: center;
    margin: 0;
    font-weight: bolder;
    letter-spacing: .1em;
    font-size: 1.7em;
    text-transform: uppercase;
}

.subsection-title{
    text-align: center;
    margin: 20px 0;
    color: rgba(0,0, 0, .8);
    font-weight: bolder;
    letter-spacing: .1em;
    font-size: 1.7em;
    text-transform: uppercase;
}


/*### INTRO ###*/

#intro{
    min-height: 100vh;
    background-image: url("../img/wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size: 1.2em;
    position: relative;
    text-transform: uppercase;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}

#intro-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.intro-logo{
    opacity: 0;
    -webkit-animation-name: apparition-top;
    animation-name: apparition-top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.intro-logo img{
    width: 100%;
    height: auto;
}

#intro-text{
    padding: 0;
    opacity: 0;
    -webkit-animation-name: apparition-right;
    animation-name: apparition-right;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#intro-text strong{
    opacity: 0;
    -webkit-animation-name: apparition;
    animation-name: apparition;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    display: inline-block;
}

section#intro h1{
    color: whitesmoke;
    letter-spacing: .2em;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: bold;
    margin-top: 30px;
}

section#intro h1 strong{
    color: black;
    font-weight: bolder;
    letter-spacing: .3em;
}

#title-var{
    display: inline-block;
    width: 100%;
    text-align: center;
}

#intro-scrolldown{
    display: block;
    position: absolute;
    bottom: 10px;
    color: whitesmoke;
    text-transform: none;
    background-color: rgba(0, 0, 0, .7);
    padding: 0 20px;
    color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    font-size: 1em;
    -webkit-box-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 3px black;
    font-weight: normal;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}


/*### PRODUCTIONS ###*/

section#productions{
    border-bottom: 1px solid whitesmoke;
    margin: 0;

}

#mosaic{
    background-color: rgba(255, 255, 255, .9);
    margin-top: 40px;
}

#mosaic-loader{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, .9);
    z-index: 2;
    display: none;
}

#mosaic-loader img{
    max-width: 100px;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50vh;
}

.production-preview:hover{
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
    -webkit-box-shadow: 2px 2px 4px black;
    box-shadow: 2px 2px 4px black;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    z-index: 2;
}

.production-info-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .5);
}

/*### TECHNOLOGIES  ###*/

section#technologies {
    background-color: white;
    color: black;
    padding-bottom: 0 !important;
}
.technology-title{
    font-weight: bolder;
    text-align: center;
    color: white;
    font-size: 1.1em;
    background-color: rgba(0,0, 0, .7);
    padding: 5px;
    text-transform: uppercase;

}


.technology-content{
    color: dimgray;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    display: none;
}


#mastered{
    background-color: white;
}

#learned{
    background-color: whitesmoke;
}

.technology{
    margin-bottom: 30px;
}


/*### BIO ###*/

#bio{
    background-image: url("../img/bio-wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: white;
}

#bio h2{
    margin-top: 0;
    text-align: left;
}

#bio *:not(.blue-overlay){
    z-index: 1;
}

.blue-overlay{
    background-color: rgba(0, 73, 116, .9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

/*### PARCOURS ###*/

section#parcours{
    color: black;
    padding-bottom: 30px;
    background-color: whitesmoke;
}

section#parcours .subsection{
    padding: 0 5px;
    padding-top: 50px;
}

ul.parcours-list{
    padding-right: 10px;
}

ul.parcours-list li{
    border: none;
    background: transparent;
    list-style: initial;
    color: rgba(0, 0, 0, .7);
}

ul.parcours-list li{
    border: none;
    background: transparent;
    list-style: initial;
    color: rgba(0, 0, 0, .7);
}

.parcours-list-description{
    font-weight: lighter;
    font-style: italic;
    font-size: .9em;
    color: dimgray;
}

#parcours .subsection-title{
    margin-top: 0;
}

/*### IRL ###*/

#irl{
    background-color: rgba( 255, 255, 255, .3);
}

.irl{
    margin-top: 30px;
    color: black;
}

#irl .section-title{
    color: rgba(0,0, 0, .8);
}

h4.irl-title{
    margin-top: 0;
    color: dimgray;
}


/*### FOOTER ###*/

footer{
    background-color: #28323B;
    font-weight: normal;
    min-height: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
}

footer p{
    margin: 0;
}

footer #credits{
    color: lightgray;
}

/*### SIDE-PAGES ###*/

#left-page{
    position: fixed;
    right: 100%;
    top: 0;
    bottom: 0;
    padding: 0;
    height: 100vh;
    z-index: 9;
    background-image: url("../img/wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
    width: 100%;
}

#right-page{
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    padding: 0;
    z-index: 9;
    height: 100vh;
    background-color: rgba(255, 255, 255, .5);
    overflow-y: scroll;
    background-image: url("../img/wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}


/*### CONTACT ###*/

#contact{
    height: 100%;
    border-bottom: none;
    padding: 0 !important;
    position: relative;
    border-bottom: none !important;
}
#contact-container{
    padding-top: 40px;
}

#contact h2.section-title{
    color: dimgray !important;
    margin: 50px
}

#contact-form{
    background-color: rgba(255, 255, 255, .5);
    text-align: left;
    font-size: 1.2em;
    -webkit-box-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 3px black;
    color: dimgray;
    position : relative;
    height: 100%;
    padding: 30px;
    padding-bottom: 50px;
}

.control-label{
    text-align: left !important;
}

#sending-loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1;
    display: none;
}

#sending-loader img{
    max-width: 100px;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

#message-notification{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .9);
    height: 50px;
    color: dimgray;
    text-align: center;
    line-height: 50px;
    z-index: 10;
    -webkit-box-shadow: -1px -.5px 3px dimgray;
    box-shadow: -1px -.5px 3px dimgray;
    display: none;
    opacity: 0;
}

#message-notification.active{
    -webkit-animation: apparition-right forwards .5s 1s, disparition forwards .5s 3s;
    animation: apparition-right forwards .5s 1s, disparition forwards .5s 3s;

    display: block;
}

#message-notification.success{
    background-color: rgba(255, 255, 255, .9);
    color: dimgray;
}

#message-notification.error{
    background-color: rgba(255, 255, 255, .9);
    color: dimgray;
}


/*### PRODUCTION-SINGLE ###*/

section#production-single{
    height: auto;
    border-bottom: none;
    padding: 0 !important;
}

section#production-single ul{
    list-style: initial;
}


#production-single-container{
    margin-top: 40px;
}


#production-single-header{
    overflow: hidden;
    position: relative;
    height: 20vh;
}

#production-single-title{
    color: white;
    position: absolute;
    text-shadow: 1px 1px 1px black;
    top: 50%;
    width: 100%;
    font-size: 2em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;;

}

#production-single-preview{
    margin-bottom: 50px;
}

#production-single-info-title, #production-single-description-title{
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .3);
    padding: 10px 0;
    border: 1px solid lightgray;
}

#production-single-info{
    background-color: rgba(255, 255, 255, .3);
    padding: 0;
    color: dimgray;
}

#production-single-info-content{
    padding: 30px;
    padding-top: 0;
}

#production-single-info span, #production-single-info span a{
    color: rgba(0, 0, 0, .5);
}

#production-single-info span a{
    font-style: italic;
}

#production-single-description{
    color: rgba(0, 0, 0, .5);
    padding: 0;
    background-color: rgba(255, 255, 255, .7);
    padding-bottom: 50px;
}

#production-single-description-content-text{
    padding: 10px;
}


/*######## MEDIA QUERIES ########*/

/*#### MEDIUM SCREEN ####*/

@media only screen and (min-width: 768px){

    /*### INTRO ###*/

    #intro{
        font-size: 1.8em;
    }

    /*### SIDE-PAGES ###*/

    #right-page{
        background: transparent;
    }


/*#### TABLETS LANDSCAPE ####*/

@media only screen and ( orientation: landscape)  and (min-width: 768px) {

    /*### NAV ###*/

    #menu-header{
        display: block;
    }

    #global-nav{
        height: 100vh;
        -webkit-box-shadow: 3px 3px 10px black;
        box-shadow: 3px 3px 10px black;
    }

    #menu-toggle{
        display: none;
    }

    .mobile-hidden{
        display: block;
    }


    /*### SECTION ###*/

    section:not(#intro):not(#productions):not(#technologies):not(#parcours){
        padding: 50px;
    }

    .section-intro{
        font-size: 1.2em;
        margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .section-title{
        margin: 50px;
        letter-spacing: .2em;
        font-size: 2.8em;
    }

    section .subsection{
        padding: 50px;
        padding-bottom: 40px;
    }

    .subsection-title{
        margin: 50px !important;
        letter-spacing: .2em;
        font-size: 2.5em;
    }


    /*### INTRO ###*/

    #intro{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        text-align: left;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #intro-content{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    section#intro h1{
        color: dimgray;
    }

    #title-var{
        text-align: left;
        width: 300px;
    }

    #intro-scrolldown{
        font-size: .9em;
    }

    /*### PRODUCTIONS ###*/

    #mosaic {
        margin-top: 0;
    }

    /*### TECHNOLOGIES ###*/

    .technology-title{
        font-size: 1.5em;
        background-color: rgba(0,0, 0, .8);
    }

    .technology-content{
        display: block;
    }


    /*### BIO ###*/

    section#parcours{
        padding-bottom: 100px;
    }

    /*### IRL ###*/

    #irl {
        background-image: url("../img/wallpaper.jpg");
        min-height: calc(100vh - 70px);
        color: white;
        background-size: cover;
    }

    h4.irl-title{
        margin-top: 10px;
        color: black;
    }

    #irl a{
        color: dimgray;
        font-style: italic;
    }
}

    /*### SIDE-PAGES ###*/

    #left-page{
        width: 83.33333333%;
        background: rgba(255, 255, 255, .5);
    }

    #right-page{
        background-color: transparent;
    }

    /*### CONTACT ###*/

    #contact-container{
        padding: 0;
        padding-bottom: 100px;
    }

    /*### PRODUCTION-SINGLE ###*/

    #production-single-container{
        margin-top: 0;
    }

    section#production-single{
        margin-bottom: 100px !important;
    }

    #production-single-header{
        height: 35vh;
    }

    #production-single-title{
        font-size: 4em;
    }

    #production-single-content{
        margin-top: 100px;
    }

    #production-single-description{
        background-color: transparent;
    }

    #production-single-description{
        padding-left: 15px;
        padding-right: 15px;
    }
    #production-single-description-content-text{
        padding: 0;
    }

}