<section id="bio" class="row">


    <div class="row">
        <div id="bio-img" class="col-sm-2">
            <img src="{{ images_directory }}/{{ bio.image }}" alt="Camille Maillet" />
        </div>
        <div class="bio-content col-sm-10">
            <h2 class="section-title col-sm-12">Qui est Camille Maillet ?</h2>
            <p class="col-sm-12">
                {{ bio.content }}
            </p>
        </div>


    </div>
    <div class="blue-overlay"></div>

</section>