<section id="intro" class="row">
    <div id="intro-content" class="">
        <div class="col-md-5 col-xs-11 intro-logo">
            <img src="/img/logo.png" alt="logo CM Web"/>
        </div>
        <div id="intro-text" class="col-sm-7">
            <h1>Camille Maillet <br> <strong>Développeur <span class="changing-text" id="title-var"></span></strong></h1>
        </div>
        <p id="intro-scrolldown"><i class="fas fa-caret-down fa-lg"></i> Découvrir <i class="fas fa-caret-down fa-lg"></i></p>
    </div>
</section>