<section id="intro" class="flex-horizontal-center col-sm-12">
    <div id="intro-content" class="flex-horizontal-center">
        <div class="col-sm-5 intro-logo">
            <img src="/img/logo.png"/>
        </div>
        <div id="intro-text" class="col-sm-7 flex-both-center">
            <h1>Camille Maillet <br> <strong>Développeur <span class="changing-text" id="title-var"></span></strong></h1>
        </div>

        <p id="intro-scrolldown"><i class="fas fa-caret-down fa-lg"></i> Découvrir <i class="fas fa-caret-down fa-lg"></i></p>
</section>