<section id="production-single">
    <div class="row" id="production-single-container">
        <div id="production-single-header">
            <h2 id="production-single-title" class="section-title col-sm-12"></h2>
            <div id="production-single-header-image-container"></div>
        </div>
        <div id="production-single-content">
            <div id="production-single-info" class=" col-md-offset-1 col-md-3">
                <h3 id="production-single-info-title">Détails</h3>
                <div id="production-single-info-content">
                    <p id="production-single-category"><strong>Catégorie : </strong> <span></span></p>
                    <p id="production-single-technologies"><strong>Technologies utilisées : </strong><br/><span></span></p>
                    <p id="production-single-url"><strong>Url : </strong><br/><span></span></p>
                    <p id="production-single-github"><strong>GitHub : </strong><br/><span></span></p>
                    <div id="production-single-preview" class="col-md-12"></div>
                </div>
            </div>

            <div id="production-single-description" class="col-md-7">
                <h3 id="production-single-description-title">Description du projet</h3>
                <div id="production-single-description-content">
                    <div id="production-single-description-content-text"></div>
                    <div id="production-single-link" class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>

</section>
