{% extends 'Back/layout.html.twig' %}

{% block title %}Ajouter un élément IRL - {{ parent() }}{% endblock %}

{% block main %}
    <div class="row single-content">
        <section id="form" class="single-section">
            <h3 class="section-title">Ajouter un élément IRL</h3>
            {{ include('Back/Form/irl.html.twig') }}
        </section>



    </div>
{% endblock %}