{% extends 'Back/layout.html.twig' %}

{% block title %}Ajouter une technologie - {{ parent() }}{% endblock %}
{% block pageName %}technologies{% endblock %}

{% block main %}

    <div class="row single-content">
        <section id="form" class="single-section">
            <h3 class="section-title">Ajouter une technologie</h3>
            {{ include('Back/Form/technology.html.twig') }}
        </section>
    </div>

{% endblock %}