{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/front-main.css">
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    
    <div class="main-content">
        {% block main %}
        {% endblock %}
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/changingText.js"></script>
    <script src="/js/productionWindowManager.js"></script>
    <script src="/js/contactWindowManager.js"></script>
    <script src="/js/navSync.js"></script>

    <script src="/js/scrollDownButton.js"></script>
    <script src="/js/smoothScroll.js"></script>
    <script src="/js/stick.js"></script>
    <script src="/js/menuToggle.js"></script>


{% endblock %}