<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learn - List</title>
  </head>
  <body>
    <div class="alert alert-warning">
      {% for error in app.session.flashbag.get('error') %}
        <p>
          <strong>Erreur : </strong><br/>
          {{ error }}
        </p>
      {% endfor %}
    </div>
    
    Ici la liste des éléments à apprendre
  </body>
</html>
