<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learn - {{ id }}</title>
  </head>
  <body>

    Ici le contenu de l'élément learn n°{{ id }}
    <br>
    <a href="{{ path('cm_back_learn_list') }}"> Retour à la liste des éléments à apprendre</a>
  </body>
</html>
