<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/back-main.css">

    <title>{% block title %}Admin | Camille Maillet{% endblock %}</title>
  </head>
  <body>

  {{ render(controller("App\\Controller\\GlobalController::MenuAction")) }}
  <div class="main-content">
      {% block body %}

      {% endblock %}
  </div>


  </body>
</html>
