<tr>
    <td class="career-cell">
        <strong>{{ career.name }}</strong> <br>
        <em>
            {% if career.published %} Publié {% endif %}
            {% if not career.published %} <span class="not">Non publié </span>{% endif %}
        </em>

    </td>
    <td class="actions-cell">
            <a href="{{ path('cm_back_career_list', {'id': career.id}) }}" class=""><i class="fas fa-edit"></i></a>
            <a href="{{ path('cm_back_career_delete', {'id': career.id}) }}" class=""><i class="fas fa-trash-alt"></i></a>
    </td>
</tr>