{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/back-main.css">
{% endblock %}

{% block title %}Admin | {{ parent() }}{% endblock %}

{% block body %}

    {{ render(controller("App\\Controller\\Back\\GlobalController::HeadAction")) }}
    <div class="main-content">
        {% for notice in app.session.flashbag.get('notice') %}
            <div class="notice">
                {{ notice }}
            </div>

        {% endfor %}
        {% block main %}
        {% endblock %}
    </div>

{% endblock %}


