<div class="row">
    <h2 class="module-title">Biographie</h2>
</div>
<div class="module-content">
    <div class="col-xs-3 pull-left single-image">
        <img src="{{ images_directory }}/{{ bio.image }}" alt="Biographie"/>
    </div>
    <div class="text-content">
        <p>{{ bio.content | raw}}</p>
    </div>
</div>
<div class="row">
    <a href="{{ path('cm_back_bio') }}" class="btn btn-default col-xs-12">Accéder à la section</a>
</div>



